* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

body > div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

input {
    width: 500px;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid gray;
    color: gray;
}

input::placeholder, input[type="date"] {
    color: rgb(191, 185, 185);
    text-transform: none;
}

input[type="date"].has-value {
    color: gray;
}

#name {
    text-transform: uppercase;
}

button {
    padding: 10px;
    font-size: 20px;
    border: 2px solid gray;
    border-radius: 15px;
    color: gray;
    background-color: white;
    cursor: pointer;
    transition: 0.3s transform, 0.3s background-color;
}


button:hover {
    transform: scale(1.05);
}

button:active {
    background-color: rgb(187, 187, 187);
}